@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1b3764;
    --color-secondary: #f4ca40;
}


* {
    font-family: "Lora", serif;
}

.cormorant {
    font-family: "Cormorant Garamond", serif;
}

button {
    cursor: pointer;
}

a:hover {
    color: #f4ca40;
    transition: all;
    animation: ease-in-out;
    animation-delay: .3s;
}

a.active {
    color: #f4ca40;
}